doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(href="../css/style.css", rel="stylesheet")
    
    body 
        H1 Click on the cat 
        article 
            header 
                h2 Name 
            figure 
                img(src="../img/cat.jpg", alt="cat picture",class="big small trans")
            p Age: 7
            p Weight 5kg
        script(src="../js/main.js") 
